<div class="container mt-2">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-header">Accounts</div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="HandleSearchAccount()">
            <div class="input-group">
              <label class="input-group-text">Account Id : </label>
              <input type="text" formControlName="accountId" class="form-control">
              <button type="submit" class="btn btn-info"><i class="bi bi-search"></i></button>
            </div>
          </form>
          <ng-template #errorTamplet>
            <ng-container *ngIf="errorMessage; else loading">
              <div class="text-bg-danger">{{errorMessage}}</div>
            </ng-container>
            <ng-container></ng-container>
            <ng-template #loading>
              <div class="loading-container">
                <div class="lds-roller">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </ng-template>
          </ng-template>
          <br>
          <ng-container *ngIf="accuountObservable | async as accountDetails; else errorTamplet">
            <div class="mb-2">
              <label>Account Id : </label>
              <label><strong>{{accountDetails.accountId}}</strong></label>
            </div>
            <div class="mb-2">
              <label>Balance : </label>
              <label><strong>{{accountDetails.balance | number: '1.2-2'}} Dh</strong></label>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <table class="table table-bordered table-hover dt-responsive">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Date and Heur</th>
                      <th>Type</th>
                      <th>Amount</th>
                      <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let op of accountDetails.accountOperationDTOS">
                      <td>{{op.id}}</td>
                      <td>{{op.operationDate | date:'dd-MM-yyyy | HH:mm:ss a'}}</td>
                      <td>{{op.type}}</td>
                      <td class="text-end">{{op.amount | number: '1.2-2'}} DH</td>
                      <td>{{op.description}}</td>
                    </tr>
                    </tbody>
                  </table>
                  <ul class="nav nav-pills">
                    <li *ngFor="let item of [].constructor(accountDetails.totalPages); let page=index" class="ms-1 mt-1">
                      <a (click)="gotoPage(page)" class="btn btn-outline-info" [ngClass]="page==currentPage?'btn-info':'btn-outline-info'">
                        <div class="text-dark">{{page}}</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card" *ngIf="accuountObservable">
        <div class="card-header">Operation</div>
        <div class="card-body">
          <form [formGroup]="operationFormGroup" (ngSubmit)="HandleAccountOperation()">
            <div class="form-check form-check-inline">
              <label class="form-check-label">Debit</label>
              <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT" id="debit">
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">Credit</label>
              <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT" id="credit">
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">Transfer</label>
              <input class="form-check-input" type="radio" formControlName="operationType" value="TRANSFER" id="transfer">
            </div>
            <div class="mb-3">
              <label class="form-label"> Amount : </label>
              <input type="number" formControlName="amount" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label"> Description : </label>
              <input type="text" formControlName="description" class="form-control">
            </div>
            <div class="mb-3" *ngIf="operationFormGroup.value.operationType=='TRANSFER'">
              <label class="form-label"> Account Destination : </label>
              <input type="text" formControlName="accountDestination" class="form-control">
            </div>
            <div class="d-grid mt-2">
              <button class="btn btn-success" type="submit">Save Operation</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
