<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand text-primary" href="#">Digital Bank</a>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-dark" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/admin/customers">Customer</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Customers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/admin/customers">Search Customers</a></li>
            <li *ngIf="loginService.roles.include('ADMIN')"><a class="dropdown-item" routerLink="/admin/new-customer">New Customers</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/admin/accounts">Accounts</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-link text-dark" *ngIf="loginService.isAuthenticated">
          Bienvenue {{ loginService.username }}
        </li>
        <li class="nav-link" *ngIf="loginService.isAuthenticated">
          <button (click)="handleLogout()" class="btn btn-danger">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
